
.container {
  display: inline-block; /* Makes the container wrap its content */
  text-align: left; /* Ensures text and inputs align to the left */
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  background-color: #808080; /* Optional: Light background */
}



label {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-size: x-small;
  color: #d2d2d2
}



input {
  width: flex;
  padding: 5px;
  margin-top: 5px;
  display: block;
  border-radius: 8px;
  background-color: #444444;
  color: #d2d2d2;
}



input.read-only {
  background-color: transparent;
  color: #d2d2d2;
  padding: 0px;
  margin-top: 0px;
}



button {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #f9f9f9; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:secondary {
  background-color: #626262;
}